{% import "_icons.html" as icons %}

<div class="p-4">
  {% set jobs = load_data(path="data/jobs.yml") %}
  {% for job in jobs %}
  <div class="relative border-l border-solid border-accent px-4 pb-4 ">
    <div class="stroke-accent absolute -left-2 top-0">
      {{ icons::icon(name="disc", class="w-4 h-4 bg-bg stroke-2") }}
    </div>
    <p class="mt-0 mb-0 text-lg font-bold">{{ job.title }}</p>
    <p class="mt-1 ml-2 text-sm">{{ job.employer }} <strong>::</strong> {{ job.start }} - {{ job.end }}</p>
    {% if job.description %}
    <p>{{ job.description | join(sep="<br />") | safe }}</p>
    {% endif %}
    <p>Technologies:</p>
    <ul>
      {% for line in job.technologies %}
      <li>{{ line }}</li>
      {% endfor %}
    </ul>
    <p class="flex flex-wrap gap-2">
      {% for tech in job.badges %}
      <span class="rounded-full px-2 py-0.5 bg-secondary text-bg inline-block">{{ tech }}</span>
      {%endfor %}
    </p>
  </div>
  {% endfor %}
</div>
