@font-face {
  font-family: 'MPLUS1';
  src: url('/fonts/MPLUS1-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'MPLUS1Code';
  src: url('/fonts/MPLUS1Code-Regular.ttf')  format('truetype');
}
