<hr>
<div class="flex flex-col p-4 pb-1">
  <div class="pb-12 text-center">
    <p class="text-2xl mt-0">Think I could be an asset to you ?</p>
    <a href="mailto:" class="text-3xl stroke-link hover:stroke-bg">
      Let's chat!{{ icons::icon(name="send", class="align-baseline w-6 h-6 stroke-2")}}
    </a>
  </div>
  <div class="flex justify-center gap-4">
    <a target="_blank" href="https://github.com/Jeosas" class="stroke-link hover:stroke-bg">
      {{ icons::icon(name="github", class="w-6 h-6 stroke-2") }}
    </a>
    <a target="_blank" href="https://linkedin.com/in/jean-baptiste-wintergerst-a40436152"
      class="stroke-link hover:stroke-bg">
      {{ icons::icon(name="linkedin", class="w-6 h-6 stroke-2") }}
    </a>
    <a target="_blank" href="{{ get_url(path='axom.xml', trailing_slash=false) }}" class="stroke-link hover:stroke-bg">
      {{ icons::icon(name="rss", class="w-6 h-6 stroke-2") }}
    </a>
  </div>
  <p class="text-center stroke-text mb-0">
    © Jean-Baptiste WINTERGERST :: {{ now() | date(format="%Y") }}
  </p>
  <p class="text-center mt-0">
    Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a>.
  </p>
</div>
