<nav class="flex justify-end items-center gap-2 align-center text-end p-2 pb-4">
  <a href="/">/home/</a>
  <a href="/about">/resume/</a>
  <a href="/blog">/blog/</a>
  <div> </div>
  <a target="_blank" href="https://github.com/Jeosas" class="stroke-link hover:stroke-bg">
    {{ icons::icon(name="github", class="w-5 h-5 stroke-2") }}
  </a>
  <a target="_blank" href="https://linkedin.com/in/jean-baptiste-wintergerst-a40436152"
    class="stroke-link hover:stroke-bg">
    {{ icons::icon(name="linkedin", class="w-5 h-5 stroke-2") }}
  </a>
</nav>
